<h1>Natty 2025</h1>
<p><em>Read a selection of opinion pieces from world-class journalists.</em></p>
<img src="https://example.com/image.jpg" alt="Writing" style="width:100%;max-width:400px">
<p>
  Writing effectively is an art...
</p>
